{% macro line2Input(elementData) %}
{% from "components/input/macro.njk" import input %}
{{ input({
        label: {
          text: 'core:address.line2-input.label' | trans()
        },
        id: elementData.name + "-line2",
        name: elementData.name + "-line2",
        autocomplete: "address-line2",
        value: elementData.context.data[elementData.name + '-line2']
      }) }}
{% endmacro %}