{% macro element(elementData) %}

<div class="govuk-grid-column-{{ elementData.columnWidth}}">
  {% from "elements/RenderElements.njk" import renderContentElements %}
  {{ renderContentElements(elementData.elements) }}
</div>

{% endmacro %}