{% macro postcodeInput(elementData) %}
{% from "govuk/components/input/macro.njk" import govukInput %}
  {% set errorMessage = '' %}
  {% set classes = 'govuk-input govuk-input--width-10' %}

  {% if elementData.invalid %}
    {% if elementData.invalidPostcode %}
      {% set errorMessage = { text: 'core:address.postcode-input.invalid-error' | trans() } %}
      {% set classes = classes + 'govuk-input--error' %}
    {% endif %}
    
    {% if elementData.missingPostcode %}
      {% set errorMessage = { text: 'core:address.postcode-input.missing-error' | trans() } %}
      {% set classes = classes + 'govuk-input--error' %}
    {% endif %}
  {% endif %}

  {{ govukInput({
    label: {
      text: 'core:address.postcode-input.label' | trans()
    },
    id: elementData.name + "-postcode",
    name: elementData.name + "-postcode",
    autocomplete: "postal-code",
    classes: classes,
    value: elementData.context.data[elementData.name + '-postcode'],
    errorMessage: errorMessage
  }) }}
{% endmacro %}