{% macro line1Input(elementData) %}
{% from "govuk/components/input/macro.njk" import govukInput %}
  {% set errorMessage = '' %}
  {% set classes = 'govuk-input' %}

  {% if elementData.invalid and elementData.invalidLine1 %}
    {% set errorMessage = { text: 'core:address.line1-input.invalid-error' | trans() } %}
    {% set classes = classes + 'govuk-input--error' %}
  {% endif %}

  {{ govukInput({
    label: {
      text: 'core:address.line1-input.label' | trans()
    },
    id: elementData.name + "-line1",
    name: elementData.name + "-line1",
    autocomplete: "address-line1",
    classes: classes,
    value: elementData.context.data[elementData.name + '-line1'],
    errorMessage: errorMessage
  }) }}
{% endmacro %}
