{% macro element(elementData) %}

{% from "components/back-link/macro.njk" import backLink %}

{{ backLink({
  text: elementData.displayText | default('core:back-button.link-text') | trans(),
  classes: elementData.classes,
  href: elementData.href
}) }}

{% endmacro %}