{% macro element(elementData) %}
{% from "components/details/macro.njk" import details %}

{{ details({
    text: elementData.summaryText | trans(),
    html: elementData.text | trans()
}) }}

{% endmacro %}


