{% macro element(elementData) %}
{% from "components/input/macro.njk" import input %}

{% if elementData %}
  {% set displayText = elementData.displayText | trans() %}
  {% set errorMessage = '' %}
  {% set classes = 'nhsuk-input nhsuk-input--width-20' %}

  {% if elementData.invalid %}
      {% set errorMessage = { text: elementData.validation.error | trans({ for: displayText }) } %}
      {% set classes = classes + ' nhsuk-input--error' %}
  {% endif %}

  {{ input({
    label: {
      text: displayText,
      html: elementData.labelHtml | trans(),
      isPageHeading: elementData.isPageHeading,
      classes: elementData.labelClasses
    },
    id: elementData.name,
    name: elementData.name,
    type: "tel",
    autocomplete: "tel",
    classes: classes,
    value: elementData.value,
    errorMessage: errorMessage
  }) }}
{% endif %}
{% endmacro %}